{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pokemon list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Hp</th>
                <th>Level</th>
                <th>Attack</th>
                <th>Defense</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemons %}
            <tr>
                <td><a href="{{ path('pokemon_show', { 'id': pokemon.id }) }}">{{ pokemon.id }}</a></td>
                <td>{{ pokemon.name }}</td>
                <td>{{ pokemon.hp }}</td>
                <td>{{ pokemon.level }}</td>
                <td>{{ pokemon.attack }}</td>
                <td>{{ pokemon.defense }}</td>
                <td>{{ pokemon.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pokemon_show', { 'id': pokemon.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pokemon_update', { 'id': pokemon.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('pokemon_create') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
