{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Trainer list</h1>
    <section class="row">
        {% for trainer in trainers %}
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <figure>
                    <img class="img-responsive" src="{{ trainer.picture|default(asset('bundles/app/img/default-trainer.jpg')) }}" alt="{{ trainer.name }}">
                    <figcaption>
                        <h1>{{ trainer.name }}</h1>
                    </figcaption>
                </figure>
                <p>{{ trainer.birthday|date }}</p>
                <p>{{ trainer.description }}</p>
                <aside class="btn-group" role="group">
                    <a class="btn btn-primary" href="{{ url('trainer_show', {'id': trainer.id}) }}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        Show
                    </a>
                    <a class="btn btn-warning" href="{{ url('trainer_update', {'id': trainer.id}) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                    </a>
                </aside>
            </article>
        {% endfor %}
        <aside class="text-center">
            <a class="btn btn-primary" href="{{ url('trainer_create') }}">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add
            </a>
        </aside>
    </section>
    {#
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Sex</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('trainer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.sex }}</td>
                <td>{{ entity.picture }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('trainer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('trainer_update', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('trainer_create') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    #}
{% endblock %}
