{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Trainer list</h1>
    <section class="row">
        {% for trainer in trainers %}
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                {% if trainer.picture %}
                    <figure>
                        <img src="{{ trainer.picture }}" alt="{{ trainer.name }}">
                        <figcaption>
                            <h1>{{ trainer.name }}</h1>
                        </figcaption>
                    </figure>
                {% else %}
                    <h1>{{ trainer.name }}</h1>
                {% endif %}
                <p>{{ trainer.birthday|date }}</p>
                <p>{{ trainer.description }}</p>
            </article>
        {% endfor %}
    </section>
    {#
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Sex</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('trainer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.sex }}</td>
                <td>{{ entity.picture }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('trainer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('trainer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('trainer_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    #}
{% endblock %}
